@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root{
    --darkRed: #360606;
    --lightRed:#FFe6e6;
    --redLetter:#d61c1c;
    --blueSky:#d4edf5;
    --OrangeF:#daab95;
    --VermelhoClaro:#f88484;
}



.conclusao{
    height: 87.5vh;
    padding: 12vh 10px 0 10px;
    background-color: var(--OrangeF);
}

.conclusao h3 ,.h3{
    font-family: "Source Code Pro", monospace;
    text-align: center;
    font-size: 30px;
}

.textConclusao{
    width: 80%;
    margin: 0 20px;
}

.textConclusao p{
    font-family: "Source Code Pro", monospace;
    text-align: justify;
}
