@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root{
    --darkRed: #360606;
    --lightRed:#FFe6e6;
    --redLetter:#d61c1c;
    --blueSky:#d4edf5;
    --BlueF:#709caa;
}

body{
    padding: 0;
    margin: 0;
    background-color:var(--lightRed) ;
}

.navBar{
    width: 100%;
    height: 12vh;
    background-color:var(--darkRed);
    position:fixed;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 2;
}

.icon, .iconIMG{
    background-color: transparent;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.iconP{
    display: flex;
    font-size: 20px;
    align-items:center;
    margin: 0 5px;
    justify-content: center;
    color: var(--blueSky);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.iconIMG{
    width: 40px;
}

.menu{
    margin-right: 15px;
}

.Landing{
    color: var(--blueSky);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    margin: 0 5px;
}

.Landing:hover{
    text-decoration: underline;
    font-weight: bold;
}

.banner{
    display: flex;
    position: relative;
    height: 99.8vh;
    align-items: center;
    overflow: hidden;
}

.line{
    height: 2px;
    margin: 0 5%;
    background-color: var(--darkRed);
}

.Text,.Image{
    width: 60%;
    z-index: 1; 
}

.Image{
    position: absolute;
    top: 0;
    right: -10%;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1; 
    z-index: 0;
}

.Image img{
    width: 100%;
    height: auto;
}

.Text{
    margin-left: 5%;
}

.Text h1, .Text h3{
    font-family: "Source Code Pro", monospace;
    text-align: center;
    font-weight: bold;
    font-style:italic;

}

.Text p, .Text li{
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
}

/*download aba*/

.Download{
    height: 85.5vh;
}

.Download h1{
    font-family: "Source Code Pro", monospace;
    text-align: center;
    font-weight: bold;
    font-style:italic;
}

.tiposDownload{
    display: flex;
    justify-content: center;
}

.windows,.IOS,.Linux{
    width: 33.3%;
}

.windows div,.IOS div,.Linux div{
    display: flex;
    justify-content: center;
}

.IOS{
    border-left: solid 1px var(--darkRed);
    border-right: solid 1px var(--darkRed);
}
.content{
    margin:10px;
    font-size: 12px;
}


@media (max-width:800px) {
    .Text,.Image{
        width: 80%;
    }
}

@media (max-width: 614px) {
    .Text,.Image{
        width: 100%;
    }
}